<template>
    <v-card>
        <v-card-text>
            <v-layout row wrap>
                <v-flex xs12>
                    <h3 class="headline mb-1 center">{{ prodName }}</h3>
                    <div>{{ prodInfo }}</div>
                </v-flex>
                <v-flex xs12>
                    <v-select
                        v-model="portionValue"
                        :items="portionsSelect"
                        label="Выберите порцию"
                        persistent-hint
                        single-line
                    ></v-select>
                </v-flex>
                <v-flex xs12 v-if="selectPortionWeight && selectPortionXeCount" class="mt-1">
                    <div> Вес - {{selectPortionWeight}} грамм</div>
                    <div> Хлебные единицы - {{selectPortionXeCount}}</div>
                </v-flex>
                <v-flex xs12 v-if="portionValue !== ''" class="mt-1">
                    <v-text-field
                        label="Количество"
                        mask="######"
                        v-model="productCount"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12 v-if="productCount" class="mt-1">
                    <div>Результат {{ result }} XE</div>
                </v-flex>
                <v-flex xs12 v-if="productCount && result && portionValue !== ''" class="mt-1">
                    <v-btn
                        color="success"
                        class="white--text"
                        block
                        @click="addProduct"
                        >
                        Добавить
                    </v-btn>
                </v-flex>  
            </v-layout>
        </v-card-text>           
    </v-card>
</template>
<script>
  import productsApi from '../api/productsApi'
  import calcXe from '../helpers/helpers'
  export default {
    created (){
        let id = this.$route.params.id
        this.getProductInfo(id)
        this.$store.commit('appState/setBackLink', '/add_product')
    },   
    
    data () {
      return {
        prodName: '',
        prodInfo: '',
        carbCount: '',
        portions: {},
        portionsSelect: [],
        portionValue: '',
        portionName: '',
        selectPortionWeight: '',
        selectPortionXeCount: '',
        productCount: '',
        result: 0,
      }
    },
    methods:{
      getProductInfo: function(id){
        let app = this
        productsApi.getProductDetail(id)
        .then(response => {
            if (response.data){
                let xeCount = 0
                let carbCount = 0
                if (response.data.xe_count){
                    xeCount = response.data.xe_count
                }
                if (response.data.carbohydrate){
                    app.carbCount = response.data.carbohydrate
                }
                app.prodName = response.data.name
                app.prodInfo = 'в 100 граммах продуктах содержится ' + app.carbCount + ' гр. углеводов, и ' + xeCount + ' хлебных единиц (1 xe - 12 гр. углеводов).' 
            }
        })
        this.portionsSelect.push({'value': 'gr', 'text': 'Измерение в граммах'})
        productsApi.getProductPortions(id)
        .then(response => {
            if (response.data){
                response.data.forEach(function(element) {
                    let weight = parseFloat(element.weight)
                    let xeCount = parseFloat(element.xe_count)
                    if (xeCount !== 0.0 && weight !== 0.0){
                        app.portions[element.portion_type] = {'weight': weight, 'xeCount': xeCount, 'name': element.portion_name}
                        app.portionsSelect.push({'value': element.portion_type, 'text': element.portion_name})
                    }
                });
            }
        })
      },

        addProduct: function(){
            let item = {
                'name': this.prodName, 
                'xeCount': this.result, 
                'portionName': this.portionName, 
                'count': this.productCount
            }
            this.$store.commit('appState/addToXeItem', item)
            this.$router.push("/")
        }
    },
    watch: {
        portionValue: function (val) {
            this.result = 0
            this.productCount = 0
            if (val !== 'gr'){
                let portion = this.portions[val]
                this.selectPortionWeight = portion.weight
                this.selectPortionXeCount = portion.xeCount
                this.portionName = this.portions[val].name
            }else{
                this.selectPortionWeight = ''
                this.selectPortionXeCount = ''
                this.portionName = 'Граммы'
            }
        },
        productCount: function(val){
            if(!isNaN(parseFloat(val)) && isFinite(val)){
                if(this.portionValue === "gr"){
                    this.result = calcXe(val, this.carbCount)
                }
                else{
                    let portion = this.portions[this.portionValue]
                    this.result = (val * portion.xeCount).toFixed(1)
                }
            }
        }

    }
  }
</script>