<template>
  <v-layout row wrap>
      <v-flex xs12>
        <v-btn
            color="accent"
            class="white--text"
            block
            to="/add_product"
          >
            Добавить продукт
            <v-icon right dark>add</v-icon>
        </v-btn>
      </v-flex>
      <v-flex xs12 v-if="products.length > 0" class="mt-1">
        <v-card>
          <v-card-text>
            <v-list two-line>
              <template v-for="(product, index) in products">
                <v-list-tile
                  :key="index"
                  avatar
                >
                  <v-list-tile-content>
                    <v-list-tile-title>{{ product.name }}</v-list-tile-title>
                    <v-list-tile-sub-title class="text--primary">{{ product.portionName }} - {{ product.count }}</v-list-tile-sub-title>
                    <v-list-tile-sub-title>{{ product.xeCount }} XE</v-list-tile-sub-title>
                  </v-list-tile-content>
                  <v-list-tile-action>
                    <v-btn icon ripple @click="showDeletePopup(index)">
                      <v-icon
                        color="red darken-2"
                      >
                        delete_forever
                      </v-icon>
                    </v-btn>
                  </v-list-tile-action>
                </v-list-tile>
                <v-divider
                  v-if="index + 1 < products.length"
                  :key="index + 'div'"
                ></v-divider>
              </template>
            </v-list>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 class="mt-1" v-if="xeCount > 0">
        <v-card>
            <v-card-text>
                Итог {{xeCount}} XE
            </v-card-text>           
        </v-card>
      </v-flex>
      <v-flex xs12 class="mt-1" v-if="products.length > 0">
        <v-btn
            color="error"
            class="white--text"
            block
            @click="showDeletePopup()"
          >
            Очистить список
        </v-btn>
      </v-flex>
    <v-dialog
        v-model="deleteDialog"
        max-width="400"
      >
      <v-card>
        <v-card-title class="headline">{{deleteDialogName}}</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deleteDialog = false"
          >
            Отмена
          </v-btn>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="deleteItems()"
          >
            Удалить
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  export default {
    created (){
      this.$store.commit('appState/setBackLink', '')
    },
    data(){
      return {
        products: this.$store.state.appState.xeItems,
        xeCount: this.$store.state.appState.xeCount,
        deleteDialog: false,
        deleteIndex: null,
        deleteDialogName: ''
      }
    },
    methods:{
      showDeletePopup: function(itemIndex){
        this.deleteIndex = itemIndex
        this.deleteDialog = true
        if (this.deleteIndex === undefined){
          this.deleteDialogName = 'Удалить все продукты?'
        }else{
          this.deleteDialogName = 'Удалить продукт?'
        }
      },
      deleteItems: function(){
        if (this.deleteIndex !== undefined){
          this.$store.commit('appState/deleteXeItem', this.deleteIndex)
          this.products = this.$store.state.appState.xeItems
          this.xeCount = this.$store.state.appState.xeCount
        }else{
          this.$store.commit('appState/deleteAllItems')
          this.products = []
          this.xeCount = 0
        }
        this.deleteDialog = false
      }
    },
  }
</script>
