<template>
  <v-tabs
      centered
      grow
    >
      <v-tab
        ripple
        href="#products"
        
      >
        Продукты
      </v-tab>
      <v-tab
        ripple
        href="#calc"
        grow
      >
        Калькулятор
      </v-tab>
      <v-tabs-items>
        <v-tab-item value="products">
          <v-card>
              <v-card-text>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-text-field
                      v-model="prodName"
                      label="Введите название продукта"
                      
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-list>
                      <v-list-tile
                        v-for="product in products"
                        :key="product.id"
                        :to="'/calc_product/' + product.id"
                      >
                        <v-list-tile-content>
                          <v-list-tile-title v-text="product.name"></v-list-tile-title>
                        </v-list-tile-content>

                    
                      </v-list-tile>
                    </v-list>
                  </v-flex>  
                </v-layout>
              </v-card-text>           
          </v-card>
        </v-tab-item>
        <v-tab-item value="calc">
            <v-card>
              <v-card-text>
                <v-layout row wrap>
                  <v-flex xs12>
                    <v-text-field
                      v-model="prodNameCalc"
                      label="Введите название продукта"
                      
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 v-if="prodNameCalc">
                    <v-text-field
                      v-model="prodCarbCalc"
                      label="Введите колличество углеводов на 100 грамм"
                      
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 v-if="prodNameCalc && prodCarbCalc">
                    <v-text-field
                      v-model="prodCountCalc"
                      label="Введите колличество грамм продукта"
                      
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 v-if="calcResult" class="mt-1">
                    <div>Результат {{ calcResult }} XE</div>
                  </v-flex>
                  <v-flex xs12 v-if="calcResult" class="mt-1">
                      <v-btn
                          color="success"
                          class="white--text"
                          block
                          @click="addProduct"
                          >
                          Добавить
                      </v-btn>
                  </v-flex>
                </v-layout>
              </v-card-text>           
            </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-tabs>
</template>
<script>
  import productsApi from '../api/productsApi'
  import calcXe from '../helpers/helpers'
  export default {
    created (){
      this.$store.commit('appState/setBackLink', '/')
    },
    data () {
      return {
        prodName: '',
        products: [],
        active: null,
        prodNameCalc: '',
        prodCarbCalc: '',
        prodCountCalc: '',
        calcResult: ''
      }
    },
    methods:{
      searchProducts: function(name){
        let app = this
        productsApi.getProdList(name)
        .then(response => {
          if (response.data){
            app.products = response.data
          }
        })
      },
      addProduct: function(){
            let item = {
                'name': this.prodNameCalc, 
                'xeCount': this.calcResult, 
                'portionName': 'Граммы', 
                'count': this.prodCountCalc
            }
            this.$store.commit('appState/addToXeItem', item)
            this.$router.push("/")
        }
    },
    watch: {
      prodName: function (val) {
        if (val.length >= 3){
          this.searchProducts(val)
        }else{
          this.products = []
        }
      },
      prodCountCalc: function(val){
        if(val){
          this.calcResult = calcXe(val, this.prodCarbCalc)
        }else{
          this.calcResult = ''
        }
        
      }
    }
  }  
</script>
