<template>
  <v-app>
    <AppLayout/>
      <v-dialog
        v-model="dialog_policy"
        width="500"
      >
        <v-card>
          <v-card-title
            class="headline grey lighten-2"
            primary-title
          >
            Важная информация!
          </v-card-title>

          <v-card-text>
            <p>Данное приложение носит исключительно справочный характер, продукты в справочнике имеют примерный расчет углеводов и хлебных единиц.</p>
            <p>Разработчик данного ресураса не несет ответсвенности за последствия неправильного расчета хлебных единиц.</p>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              flat
              @click="closeDialog()"
            >
              С правилами ознакомлен(а)
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
  </v-app>
</template>

<script>
import AppLayout from './layouts/AppLayout'
export default {
  data(){
    return {
      dialog_policy: this.$cookies.get('show_rules') === null,
    }
  },
  methods:{
    closeDialog: function(){
      this.dialog_policy = false
      $cookies.set('show_rules', false)
    },
  },
  components: {AppLayout},
}
</script>
