<template>
  <div>
    <v-toolbar app flat dark color="primary" clipped-left>
        <v-btn icon v-if="$store.state.appState.backLink" :to="$store.state.appState.backLink">
            <v-icon>arrow_back</v-icon>
        </v-btn>
        <v-toolbar-title v-text="$route.meta.title"></v-toolbar-title>
    </v-toolbar>

    <v-content>
      <v-container fluid grid-list>
        <v-layout row wrap>
          <v-flex xs12 sm10 offset-sm1 md8 offset-md2 lg6 offset-lg3 xl4 offset-xl4>
            <router-view/>
          </v-flex>
        </v-layout>
      </v-container>   
    </v-content>
  </div>
</template>

<script>

export default {
  data () {
    return {
      //
    }
  }
}
</script>